.sidebar #sidebar-footnote {
    background: none repeat scroll 0 0 #F9E9DE;
    display: none;
    overflow: hidden;
    padding: 0 12px 12px;
    position: absolute;
    width: 306px;
    word-wrap: break-word;
}
.sidebar #sidebar-footnote p {
    font-size: 11px;
    line-height: 17px;
}
.sidebar #sidebar-footnote h5 {
    background: none repeat scroll 0 0 #EED0B6;
    border-bottom: 1px solid #FFFFFF;
    color: #BC7B77;
    height: 15px;
    line-height: 15px;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
}
.sidebar #sidebar-footnote-close {
    background: url("../images/icons/close_dark.html") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    opacity: 0.25;
    overflow: hidden;
    position: absolute;
    right: 12px;
    text-indent: -2000px;
    top: 5px;
    width: 10px;
}
